<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/dist/css/indexresult.css">
    <title>XpertDO | Result</title>
</head>
<body>
    <!-- HEADER -->
    <div class="top-header">
        <a href="indexweb.html" class="logo">
            <img class="logo1" src="../static/dist/img/logo1.png" alt="XpertDO's Logo">
        </a>
        <div class="menu">
            <a class="menu-item" href="{{ url_for('home') }}">Home</a>
            <a class="menu-item" href="{{ url_for('home') }}#information">Information</a>
            <a class="menu-item" href="{{ url_for('home') }}#diagnose">Diagnose</a>
            <a class="menu-item1" href="{{ url_for('home') }}#about">About</a>
        </div>
        <div class="menu1">
            <a href="/login" class="menu-item2">
                <i class="fas fa-user"></i> &nbsp; Admin</a>
        </div>
    </div>

    <!-- RESULT -->
    <section id="diagnosis" class="diag">
        <div>
        </br></br>
            <p>Hallo, {{ uname }}! This is your diagnosis result!</p>
            </br>
        </br></br></br>
        </div>
    </section>
    <section id="home" class="cont-diag">
        <p class="title">Hasil Perhitungan</p>
        <div class="container">
            <div class="center-box">
                <div class="dashed1">
                    <div class="card-body">
                        <table class="table table-bordered table-hover">
                          <thead>
                            <tr>
                                <th>NO</th>
                                <th>Kode Penyakit</th>
                                <th>Penyakit</th>
                                <th>Tingkat Similarity</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for user in similarities %}
                                <tr>
                                    <td>{{ loop.index}}</td>
                                    <td>{{ user.kode_penyakit }}</td>
                                    <td>{{ user.penyakit }}</td>
                                    <td>{{ '%.0f' % (user.similarity * 100) }}%</td>
                                </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </br></br>
                      <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
        </div>
            <p class="title">Hasil Diagnosis</p>
            <div class="center-box">
                <div class="dashed1">
                </br></br>
                {% if diagnosis_result %}
                <p>
                    D I A G N O S A&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; :
                    <strong> {{ diagnosis_result.kode_penyakit }} - </strong>
                    {% if diagnosis_result.disease_name is not none %}
                        <strong>{{ diagnosis_result.disease_name }}</strong>
                    {% else %}
                        <em>Nama penyakit tidak ditemukan.</em>
                    {% endif %}
                </p>
                </br></br>
                <p>S I M I L A R I T Y&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <strong>{{ diagnosis_result.similarity }}</strong></p>
                    {% else %}
                        <p>Tidak ada hasil diagnosa yang ditemukan.</p>
                    {% endif %}
                </br></br>
                </div>
            </div>
            <p class="title">Penjelasan Mengenai Penyakit Terkait</p>
            <div class="center-box1">
                <div class="dashed4">
                </br></br>
                    <p>G E J A L A &nbsp;&nbsp; Y A N G &nbsp;&nbsp; A N D A &nbsp;&nbsp; P I L I H</p>
                    </br>
                    <ol>
                        {% if selected_symptoms %}
                            {% for gejala_code in selected_symptoms %}
                                {% set gejala_name = result_symptom_code(gejala_code) %}
                                <li>{{ gejala_name }}</li>
                            {% endfor %}
                        {% else %}
                            <li>Tidak ada gejala yang dipilih.</li>
                        {% endif %}
                    </ol>
                </div>
            </div>
            <div class="container2">
                <div class="center-boxr">
                    <div class="dashed2">
                    </br></br>
                        <p>P E N G O B A T A N</p>
                    </br>
                        <ol>
                            {% for treatment in treatment_and_prevention['pengobatan'] %}
                                <li>{{ treatment }}</li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="center-boxl">
                    <div class="dashed3">
                    </br></br>
                        <P>P E N C E G A H A N</P>
                    </br>
                    <ol>
                        {% for prevention in treatment_and_prevention['pencegahan'] %}
                            <li>{{ prevention }}</li>
                        {% endfor %}
                    </ol>
                    </div>
                </div>
            </div>
            <a id="next" type="button" href="{{ url_for('home') }}">F I N I S H</a>
        </div>
    </section>

    <!-- FOOTER -->
    <section id="footer" class="cont-about2">
        <section class="lefty">
            <h1 class="xpert">XpertDO</h1>
            <h2 class="isi">Website Sistem Pakar Diagnosis Penyakit Gigi dan Mulut</h2>
            <h2 class="isi">Institut Teknologi Telkom Purwokerto | Purwokerto | Indonesia | 2023</h2>
        </section>
        <section class="righty">
            <a href="https://www.instagram.com/tiara_hp/" class="iga fab fa-instagram" target="_blank"></a>
            <a href="tel:085711478769" class="phonea fas fa-phone"></a>
            <a href="mailto:20102196@ittelkom-pwt.ac.id" class="maila fas fa-envelope"></a>
        </section>
    </section>
    <section>
        <h3 class="abou">Copyright © Website XpertDO 2023 | Credit By: Tiara Humaira Putri</h3>
    </section>
</body>