<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XpertDO | Admin</title>
    <link rel="stylesheet" href="../static/dist/css/loginweb.css">
</head>
<body class="align">
  <div class="login-box">
    <h2>Login Admin</h2>
    <form>
      <div class="user-box">
        <input type="email" name="email" id="email" required="">
        <label>Email</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <a class="ab" href="/indexadm">
        <span class="span"></span>
        <span class="span"></span>
        &nbsp;Login&nbsp;
      </a>
      <p class="cancel">Back to home? <a class="home" href="/"> Click this!</a></p>
    </form>
  </div>
</body>
</html>